<h4><%= @user.name %></h4>
<h4><%= @user.alias %></h4>
<h4><%= @user.email %></h4>
---------------------------------------------------------------
<h3>Total Number of Posts: <%= @user.ideas.count %> </h3>
<h3>Total Number of Likes: <%= @user.ideas_liked.count %> </h3>
